<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfFWuFc8x5yKB9ZxTW8_D3MOTnv9M7cgg</string>
	<key>GCM_SENDER_ID</key>
	<string>737500894319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elearner</string>
	<key>PROJECT_ID</key>
	<string>greenroot-99bf8</string>
	<key>STORAGE_BUCKET</key>
	<string>greenroot-99bf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737500894319:ios:5be058fcf21a29aa49699a</string>
</dict>
</plist>